workflows/Kafka trigger test (bets).json
{
  "active": true,
  "connections": {
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Convert to JSON object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON object": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-04T14:48:22.778Z",
  "id": "0T4kIoQr24IHegD8",
  "meta": null,
  "name": "Kafka trigger test (bets)",
  "nodes": [
    {
      "parameters": {
        "topic": "user-bets",
        "groupId": "userbets-n8ntest1",
        "options": {
          "allowAutoTopicCreation": true,
          "fromBeginning": true
        }
      },
      "id": "857da7e3-8a8b-4b2f-be64-8a62be491bc6",
      "name": "Kafka Trigger",
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1.1,
      "position": [
        360,
        420
      ],
      "credentials": {
        "kafka": {
          "id": "u8Pb8Nu3mnNF96dQ",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{ $json.topic }}",
        "fields": "={{ Object.keys($json).map((f, i) => i === 0 ? null: f).filter(e => e != null).join(',') }}",
        "options": {}
      },
      "id": "41530c0c-8a6a-48f6-a496-d9b76f8d0cad",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1000,
        420
      ],
      "credentials": {
        "mongoDb": {
          "id": "W7MW3LiRq7EGXUoI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  topic: \"{{ $json.topic }}\",\n  timestamp: {{ $json.payload.timestap }},\n  username: \"{{ $json.payload.username }}\",\n  betCategory: \"{{ $json.payload.event.category }}\",\n  eventName: \"{{ $json.payload.event.name }}\"\n}",
        "include": "none",
        "options": {}
      },
      "id": "821e41ec-a5f4-4f69-ab41-59f78805d7df",
      "name": "Transform",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        780,
        420
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  topic: \"{{ $input.item.json.topic }}\",\n  payload: {{ JSON.parse($input.item.json.message) }}\n}",
        "include": "none",
        "options": {}
      },
      "id": "01a1739b-2209-47ad-b609-1b1d4698ce6e",
      "name": "Convert to JSON object",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        580,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-04T15:43:15.000Z",
  "versionId": "abc43717-880d-4ee8-b282-bdc12d88b86d"
}