workflows/User behaviour events to S3.json
{
  "active": true,
  "connections": {
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Convert to object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to object": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "S3Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3Constants": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-05T14:00:38.486Z",
  "id": "6fwLB6349m6zMPjq",
  "meta": null,
  "name": "User behaviour events to S3",
  "nodes": [
    {
      "parameters": {
        "topic": "user-behaviour",
        "groupId": "userbehaviours-v1-save",
        "options": {
          "allowAutoTopicCreation": true,
          "fromBeginning": true
        }
      },
      "id": "4dfda898-9f84-4b86-b7fd-e8afcbef375b",
      "name": "Kafka Trigger",
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        420
      ],
      "credentials": {
        "kafka": {
          "id": "u8Pb8Nu3mnNF96dQ",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"folder\": \"{{ $json.topic }}\",\n  \"payload\": {{ JSON.parse($json.message) }}\n}",
        "include": "none",
        "options": {}
      },
      "id": "ae7f9724-0d8b-4a4b-a136-3bd5daafa884",
      "name": "Convert to object",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        700,
        420
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"rootFolder\": \"{{ $json.folder }}\",\n  \"leafFolder\": \"{{ new Date($json.payload.occurred_at).getFullYear() }}/{{ (new Date($json.payload.occurred_at).getMonth()+1).toString().padStart(2, 0) }}/{{ new Date($json.payload.occurred_at).getDate().toString().padStart(2, 0) }}/{{ new Date($json.payload.occurred_at).getHours().toString().padStart(2, 0) }}/{{ new Date($json.payload.occurred_at).getMinutes().toString().padStart(2, 0) }}\",\n  \"content\": {{ $json.payload }}\n}",
        "include": "none",
        "options": {}
      },
      "id": "4bd1fa98-c989-4311-a007-94c734028bb8",
      "name": "Transform",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        960,
        420
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "=rootFolder",
              "stringValue": "={{ $json.rootFolder }}"
            },
            {
              "name": "folder",
              "stringValue": "={{ $json.leafFolder }}"
            },
            {
              "name": "filename",
              "stringValue": "={{ $json.leafFolder.split('/').join('')+'_'+new Date($json.content.occurred_at).getTime()+'_'+$json.content.user_id+'_'+$json.content.item_id }}.json"
            },
            {
              "name": "category",
              "stringValue": "={{ $json.content.behavior }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "52264ed1-cc8f-48df-b532-f32752e62051",
      "name": "S3Constants",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1200,
        420
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "poc-n8n-telekosmos",
        "fileName": "={{ $json.rootFolder }}/{{ $json.folder }}/{{ $json.category }}/{{ $json.filename }}",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($('Transform').item.json.content) }}",
        "additionalFields": {}
      },
      "id": "6aab6bd4-a148-4104-b24a-811fbaf9435b",
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1480,
        420
      ],
      "credentials": {
        "aws": {
          "id": "hJatCAG1JJ5YfTZI",
          "name": "AWS S3 telekosmos"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-16T12:00:59.000Z",
  "versionId": "c96a8170-6d51-4e8d-871c-b980cd04b0fe"
}